/* Estilos para el contenedor principal */
.text-center {
    text-align: center;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    border-color: black;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c);
    
  }
  
  /* Estilos para el encabezado */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el input */
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para la lista de tareas */
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Estilos para cada tarea */
  li {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón de eliminar */
  button {
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Estilos para el botón de eliminar al pasar el mouse */
  button:hover {
    background-color: #d63d1f;
  }
  
